@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.ArticlePage>

    @{ Layout = "~/Views/Shared/_Layout.cshtml"; }
    <h1>@Html.PropertyFor(m => m.CurrentPage.PageName)</h1>

    @Html.PropertyFor(m => m.CurrentPage.IntroText)
    @Html.PropertyFor(m => m.CurrentPage.BodyText)
