@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.BaseEditorialPage>
    <div>
        <footer class="footer">
            @Html.PropertyFor(m => m.ViewModelFooterText)
            </footer>
    </div>
