<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="*" />
      <episerver.shell>
        <publicModules rootPath="~/modules/" autoDiscovery="Minimal">
          <add name="Alloy">
            <assemblies>
              <add assembly="EPiServer.Templates.AlloyTech" />
            </assemblies>
          </add>
        </publicModules>
      </episerver.shell>
    </authorization>
  </system.web>
</configuration>