@model WebNews.Models.Blocks.ImageTextBlock



<section class="projects">
    <div>
        <a>
            @Html.PropertyFor(x => x.BlockImage)
            <h2>@Model.Header</h2>
            <p>@Model.Body</p>
        </a>
    </div>
</section>