@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WebNews.Models.ViewModels.ListPageViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div>
 
    <ul>
        @foreach (var page in Model.ChildPages)
        {
        <li>@Html.ContentLink(page)</li>
        }
    </ul>
    
</div>