@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.ListPage>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div>
  @Model.CurrentPage.MainBody
</div>