@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.PortalPage>
    @{ Layout = "~/Views/Shared/_Layout.cshtml"; }

    <div>
        @Html.PropertyFor(m => m.CurrentPage.IntroText);
        @Html.PropertyFor(m => m.CurrentPage.PortalContentArea)
    </div>
